@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
body{
    font-family: 'Mulish', sans-serif;
}

.ant-drawer-header,
.ant-drawer-body
{
    background: #FF4E25!important;
}

.ant-card-meta-title{
    color: white!important;
    font-size: 24px!important;
    font-weight: 700!important;

}
.ant-card-meta-description
{
    font-size: 16px!important;
    font-weight: 400!important;
    color: white!important;
    padding-top: 30px;
    padding-bottom: 20px;
    line-height: 25px;
}
.ant-card:hover .ant-card-meta-title {
    color: #FF4E25!important;
  }
  
  .ant-card:hover .bottom-card {
    color: #FF4E25!important;
  }


.ant-avatar{
    border-radius: 0!important;
}

.btn-icon{
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background-color:#FF4E25;
}
.ant-card:hover .btn-icon {
    height: 1px;
    width: 34px;
  }
  