@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
body{
    font-family: 'Mulish', sans-serif;
}

.ant-drawer-header,
.ant-drawer-body
{
    background: #FF4E25!important;
}

.ant-card-meta-title{
    color: white!important;
    font-size: 24px!important;
    font-weight: 700!important;

}
.ant-card-meta-description
{
    font-size: 16px!important;
    font-weight: 400!important;
    color: white!important;
    padding-top: 30px;
    padding-bottom: 20px;
    line-height: 25px;
}
.ant-card:hover .ant-card-meta-title {
    color: #FF4E25!important;
  }
  
  .ant-card:hover .bottom-card {
    color: #FF4E25!important;
  }


.ant-avatar{
    border-radius: 0!important;
}

.btn-icon{
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background-color:#FF4E25;
}
.ant-card:hover .btn-icon {
    height: 1px;
    width: 34px;
  }
  

  .swiper-pagination-bullet{
    background: #FF4E25!important;
    height: 16px!important;
    width: 16px!important;
  }
  .swiper-pagination{
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
  }
  
  .swiper-pagination {
    position: absolute; /* or relative, fixed, etc. depending on your layout */
    bottom: 10px; /* Adjust the distance from the bottom */
    left: 50%; /* Adjust the horizontal position */
    transform: translateX(-50%); /* Center the pagination horizontally */
  }

.vector{
    /* width: 48px;
    height: 48px; */
    animation: animate linear 3s infinite ;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.ant-switch{
    background-color: #FF4E25!important;
}
/* .ant-switch-checked{
    background-color: white!important;
} */

.footer-link{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.footer-link:hover{
    color: #FE4651!important;
}


.heading_1{
    font-family: Mulish;
    font-size: 68px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0em;
}

.heading_2{
    @apply lg:text-[48px] md:text-[35px] text-xl lg:font-bold font-semibold lg:leading-[57px] md:leading-10 leading-6;
}

.heading_3{
    font-family: Mulish;
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    
}

.ant-card-meta-title{
    @apply lg:text-[24px] md:text-[20px] !text-[16px] font-bold;
}
.ant-card-meta-description{
    @apply lg:text-[16px] !text-[14px] font-normal lg:!leading-6 leading-5;
}
.ant-input{
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    outline: none!important;
    border-radius: 0!important;
    color: #fff!important;
    @apply w-full focus:!outline-none !outline-none !bg-transparent border-b border-b-white !pb-3 !pt-2;
}
.ant-form-item-control-input{
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    outline: none!important;
    background: none;

}